@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
#tribute-hero {
  background-color: #353535;
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#tribute-hero div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
}

#tribute-hero a {
  margin-top: 2.5em;
  color: #353535;
  background-color: white;
  padding: 0.6em;
  border-radius: 2em;
  width: 40%;
  max-width: 200px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
}

#tribute-hero h1 {
  width: 80%;
  font-size: clamp(2.2rem, 6vw, 8rem);
  margin-top: 0.5em;
}

#tribute-hero span {
  font-size: clamp(0.8em, 2vw, 2em);
  width: 80%;
  color: #CBCBCB;
}

#img-div {
  width: 100%;
  max-width: 500px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  overflow: hidden;
}

#img-div img {
  opacity: 50%;
  max-width: 100%;
  height: auto;
  position: relative;
  bottom: -5px;
}

@media screen and (min-width: 500px) {
  #img-div img {
    bottom: -50px;
  }
}

@media screen and (min-width: 1024px) {
  #tribute-hero {
    height: 70vh;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #tribute-hero div {
    width: 60%;
  }
  #tribute-hero a {
    width: 50%;
    max-width: 400px;
    font-size: 2em;
  }
  #tribute-hero h1 {
    width: auto;
  }
  #tribute-hero span {
    width: auto;
    margin-left: 4%;
  }
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  position: relative;
}

.timeline ul {
  list-style: none;
}

.timeline li {
  padding: 20px;
  background-color: #353535;
  border-radius: 0.8em;
  margin-bottom: 1em;
}

.timeline li a {
  color: #CBCBCB;
  font-style: italic;
}

.timeline ul li:last-child {
  margin-bottom: 4em;
}

.timeline ul li:first-child {
  margin-top: 4em;
}

.timeline-content h2 {
  margin-bottom: 0.5em;
  color: #CBCBCB;
  font-size: 0.9em;
  font-weight: lighter;
  font-style: italic;
}

@media screen and (min-width: 768px) {
  .timeline::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: #353535;
    left: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  .timeline ul li {
    width: 50%;
    margin-bottom: 2em;
  }
  .timeline ul li:nth-child(even) {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(38px);
            transform: translateX(38px);
  }
  .timeline ul li:nth-child(odd) {
    position: relative;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  .timeline ul li:nth-child(odd)::after {
    content: '';
    background-color: #353535;
    position: absolute;
    width: 35px;
    right: 0px;
    top: 48%;
    -webkit-transform: translateX(35px);
            transform: translateX(35px);
    height: 5px;
  }
  .timeline ul li:nth-child(even)::before {
    content: '';
    background-color: white;
    position: absolute;
    left: 0px;
    top: 44%;
    -webkit-transform: translateX(-42px);
            transform: translateX(-42px);
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 3px solid #353535;
    z-index: 10;
  }
  .timeline ul li:nth-child(odd)::before {
    content: '';
    background-color: white;
    position: absolute;
    right: 0px;
    top: 44%;
    -webkit-transform: translateX(43px);
            transform: translateX(43px);
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 3px solid #353535;
    z-index: 10;
  }
  .timeline ul li:nth-child(even)::after {
    content: '';
    background-color: #353535;
    position: absolute;
    width: 35px;
    left: 0px;
    top: 50%;
    -webkit-transform: translateX(-35px);
            transform: translateX(-35px);
    height: 5px;
  }
}

#tribute-quote {
  width: 100%;
  padding: 4em;
  background-color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#tribute-quote .quote-container {
  width: 50%;
  min-width: 280px;
  max-width: 500px;
  padding: 2em;
  background-color: #CBCBCB;
  color: #353535;
  border-radius: 1em;
  text-align: center;
  margin-bottom: 1.5em;
  position: relative;
}

#tribute-quote .quote-container img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 15%;
  -webkit-transform: translate(15px, -25px);
          transform: translate(15px, -25px);
}

#tribute-quote .quote-container p {
  font-size: 1.4em;
}

#tribute-quote .codedby {
  color: #CBCBCB;
  position: absolute;
  bottom: 10px;
}

#tribute-quote .codedby a {
  color: #8A80FF;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  #tribute-quote .quote-container {
    padding-top: 4em;
  }
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
}
/*# sourceMappingURL=styles.css.map */